.brand-logo {
    height: 70px !important;
    /* Adjust height as needed */
    width: auto !important;
    object-fit: contain !important;
    display: block !important;
    max-width: 100% !important;

}

.colored-toast {
    background-color: #28a745 !important;
    margin-top: 30px;
    color: white;
    font-family: 'Arial', sans-serif !important;
    font-size: 16px;
    font-weight: bold;
}

.colored-toast-error {
    background-color: #dc3545 !important;
    color: white;
    font-family: 'Arial', sans-serif !important;
    font-size: 16px;
    font-weight: bold;
}

#serviceTable tbody tr {
    height: 120px;
    /* Adjust to your preferred height */
    vertical-align: middle;
    /* Ensures content is vertically centered */
}

#serviceTable tbody tr {
    height: 120px !important;
    /* Adjust to your preferred height */

}

#serviceTable img {
    max-height: 100px !important;
    object-fit: contain;
}

.swal2-container {
    z-index: 10600 !important;

}

.swal2-toast {
    z-index: 10610 !important;

}

.progress,
.progress-bar {
    border-radius: 0 !important;
}

#update_work_permit_booking_date,
#work_permit_booking_date {
    background-color: transparent !important;
}

.custom-dl-btn {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.btn-activate {
    color: #fff !important;
    background-color: #3399ff !important;
    border-color: #3399ff !important;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.7em !important;
}

.justify-text {
    text-align: justify !important;
}

.badge-custom-success {
    background-color: #008b26;
    /* custom green */
    color: #fff;
    border: 1px solid #008b26;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.075);
}

.badge-custom-danger {
    background-color: #c82333;
    /* custom red */
    color: #fff;
    border: 1px solid #c82333;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.075);
}

.badge-custom-warning {
    background-color: #f0ad4e;
    /* custom yellow/orange */
    color: #fff;
    border: 1px solid #f0ad4e;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.075);
}

.badge-custom-secondary {
    background-color: #6c757d;
    color: #fff;
    border: 1px solid #6c757d;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.075);
}

/* Make your custom modal container position-aware */
.residence-content {
    position: relative;
    z-index: 1055;
}

.select2-container {
    width: 100% !important;
}

.select2-dropdown {
    z-index: 2000 !important;
    /* just above Bootstrap modal backdrop */
}


#addAddResidenceBtn {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#addAddResidenceBtn .spinner-border {
    margin: 0 !important;
    /* Remove any extra margin */
}

.image-slot {
    width: 100px;
    height: 100px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #6c757d;
    position: relative;
    overflow: hidden;
}

.image-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.remove-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.badge {
    text-transform: none !important;
}

.custom-link {
    color: #6c757d;
    /* Bootstrap's text-secondary gray */
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}

.custom-link:hover {
    color: #0d6efd;
    /* Bootstrap primary blue */
}


/* .form-control:disabled,
.form-control[readonly] {
    background-color: transparent !important;
    opacity: 1;
} */

#global-loading {
    display: none;
    /* Start hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2000;
    align-items: center;
    justify-content: center;
}

#global-loading.show {
    display: flex;
    /* Flex only when 'show' class is added */
}

.form-control:not(:disabled)[readonly] {
    background-color: #fff;
}

.nav-tabs .nav-link {
    color: black;
    font-weight: normal;
}

/* Active tab color and font weight */
.nav-tabs .nav-link.active {
    color: #008b26 !important;
    font-weight: bold;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    z-index: 1000;
    background: #fff;

    border-left: 1px solid #dee2e6;

    /* Optional soft shadow for depth */
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.05);
}

.sticky-col-color,
.sticky-th {
    background-color: #fff !important;

}

th.sticky-col,
td.sticky-col {
    z-index: 1001;
}

.loading-overlay {
    display: none;
    /* default hidden */
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2000;

    /* center spinner */
    justify-content: center;
    align-items: center;
}